canvas-src/pkgs/Wadl/flow_createSow.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="flow_createSow" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="flow_createSow" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <string name="ManualTriggerInput_date_def" />
      <string name="ManualTriggerInput_date_1_def" />
      <string name="ManualTriggerInput_text_4_def" />
      <string name="ManualTriggerInput_text_5_def" />
      <string name="ManualTriggerInput_text_6_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <string name="ManualTriggerInput_text_9_def" />
      <string name="ManualTriggerInput_text_10_def" />
      <string name="ManualTriggerInput_text_11_def" />
      <string name="ManualTriggerInput_text_12_def" />
      <string name="ManualTriggerInput_text_13_def" />
      <string name="ManualTriggerInput_text_14_def" />
      <string name="ManualTriggerInput_text_15_def" />
      <number name="ManualTriggerInput_number_def" />
      <string name="ManualTriggerInput_text_16_def" />
      <string name="ManualTriggerInput_text_17_def" />
      <string name="ManualTriggerInput_text_18_def" />
      <number name="ManualTriggerInput_number_1_def" />
      <number name="ManualTriggerInput_number_2_def" />
      <number name="ManualTriggerInput_number_3_def" />
      <string name="ManualTriggerInput_text_19_def" />
      <string name="ManualTriggerInput_text_7_def" />
      <string name="ManualTriggerInput_text_8_def" />
      <string name="ManualTriggerInput_text_20_def" />
      <string name="ManualTriggerInput_text_21_def" />
      <string name="ManualTriggerInput_text_22_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="date" type="string" />
        <property name="date_1" type="string" />
        <property name="text_4" type="string" />
        <property name="text_5" type="string" />
        <property name="text_6" type="string" />
        <property name="text_3" type="string" />
        <property name="text_9" type="string" />
        <property name="text_10" type="string" />
        <property name="text_11" type="string" />
        <property name="text_12" type="string" />
        <property name="text_13" type="string" />
        <property name="text_14" type="string" />
        <property name="text_15" type="string" />
        <property name="number" type="number" />
        <property name="text_16" type="string" />
        <property name="text_17" type="string" />
        <property name="text_18" type="string" />
        <property name="number_1" type="number" />
        <property name="number_2" type="number" />
        <property name="number_3" type="number" />
        <property name="text_19" type="string" />
        <property name="text_7" type="string" />
        <property name="text_8" type="string" />
        <property name="text_20" type="string" />
        <property name="text_21" type="string" />
        <property name="text_22" type="string" />
      </object>
      <string name="ResponseActionOutput_response_def" />
      <object name="ResponseActionOutput">
        <property name="response" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="_org" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="_fundation" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="_sowName" />
            </param>
            <param style="plain" name="date" path="/date" type="xs:string" required="true">
              <doc title="_startDate" />
            </param>
            <param style="plain" name="date_1" path="/date_1" type="xs:string" required="true">
              <doc title="_endDate" />
            </param>
            <param style="plain" name="text_4" path="/text_4" type="xs:string" required="true">
              <doc title="_customer" />
            </param>
            <param style="plain" name="text_5" path="/text_5" type="xs:string" required="true">
              <doc title="_zurichLineManager" />
            </param>
            <param style="plain" name="text_6" path="/text_6" type="xs:string" required="true">
              <doc title="_extensionOrNew" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string" required="true">
              <doc title="_itOrNonIT" />
            </param>
            <param style="plain" name="text_9" path="/text_9" type="xs:string" required="true">
              <doc title="_typeService" />
            </param>
            <param style="plain" name="text_10" path="/text_10" type="xs:string" required="true">
              <doc title="_engagementType" />
            </param>
            <param style="plain" name="text_11" path="/text_11" type="xs:string" required="true">
              <doc title="_deliveryStrategy" />
            </param>
            <param style="plain" name="text_12" path="/text_12" type="xs:string" required="true">
              <doc title="_technologyCluster" />
            </param>
            <param style="plain" name="text_13" path="/text_13" type="xs:string" required="true">
              <doc title="_capability" />
            </param>
            <param style="plain" name="text_14" path="/text_14" type="xs:string" required="true">
              <doc title="_technology" />
            </param>
            <param style="plain" name="text_15" path="/text_15" type="xs:string" required="true">
              <doc title="_billingType" />
            </param>
            <param style="plain" name="number" path="/number" type="xs:double" required="true">
              <doc title="_totalAmount" />
            </param>
            <param style="plain" name="text_16" path="/text_16" type="xs:string" required="true">
              <doc title="_mana" />
            </param>
            <param style="plain" name="text_17" path="/text_17" type="xs:string" required="true">
              <doc title="_mkt" />
            </param>
            <param style="plain" name="text_18" path="/text_18" type="xs:string" required="true">
              <doc title="_ext" />
            </param>
            <param style="plain" name="number_1" path="/number_1" type="xs:double" required="true">
              <doc title="_cmSale" />
            </param>
            <param style="plain" name="number_2" path="/number_2" type="xs:double" required="true">
              <doc title="_percentageCostTeam" />
            </param>
            <param style="plain" name="number_3" path="/number_3" type="xs:double" required="true">
              <doc title="_amountCostTeam" />
            </param>
            <param style="plain" name="text_19" path="/text_19" type="xs:string" required="true">
              <doc title="_userName" />
            </param>
            <param style="plain" name="text_7" path="/text_7" type="xs:string" required="true">
              <doc title="_nttCompany" />
            </param>
            <param style="plain" name="text_8" path="/text_8" type="xs:string" required="true">
              <doc title="_zurichArea" />
            </param>
            <param style="plain" name="text_20" path="/text_20" type="xs:string" required="true">
              <doc title="_extensionOf" />
            </param>
            <param style="plain" name="text_21" path="/text_21" type="xs:string" required="true">
              <doc title="_supportedApplications" />
            </param>
            <param style="plain" name="text_22" path="/text_22" type="xs:string" required="true">
              <doc title="_fteTable" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>